<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main/webapp/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body class="container">
    <div class="card">
        <div class="card-header text-center" style="font-size: larger;">
            Quản lý Oder
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table table-bordered table-hover table-striped col-12">
                    <thead>
                        <tr>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                            <th>SĐT</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Tổng tiền</th>
                            <th colspan="2">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Address</td>
                            <td>Phone</td>
                            <td>ProductName</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td>Tổng</td>
                            <td><button class="btn btn-success">Xác nhận</button></td>
                            <td><button class="btn btn-danger">Hủy</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>